/* line 1, ../sass/components/_header.scss */
.head-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

/* line 8, ../sass/components/_header.scss */
.head-name {
  text-align: center;
}

/* line 12, ../sass/components/_header.scss */
.head {
  height: 200px;
  background: #9b59b6;
}

/* line 17, ../sass/components/_header.scss */
.wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, ../sass/components/_media.scss */
.media-grid {
  list-style-type: none;
  background: #846f8d;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/components/_media.scss */
.media-grid li {
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  background: #482955;
  float: left;
  height: 200px;
  width: 20%;
}

/* line 23, ../sass/components/_media.scss */
.grid-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 31, ../sass/components/_media.scss */
.media-grid li:nth-child(even) {
  background: #846f8d;
}

/* line 35, ../sass/components/_media.scss */
.media-grid.media-grid-sm li {
  width: 25%;
  height: 200px;
}

.media-grid.media-grid-sm li:hover {
    position:absolute;
    z-index:1000;
    width: 955px;
    height: 800px;
    border-style:dashed;
    .grid-image{
        max-height:100%;
        max-width:100%;
    }
}

/* line 40, ../sass/components/_media.scss */
.media-row {
  height: 200px;
}

/* line 1, ../sass/components/_details.scss */
.details {
  height: 400px;
  background: #8e44ad;
  margin-top: 0px;
}

/* line 7, ../sass/components/_details.scss */
.detail-pic {
  height: 100%;
  display: inline;
  float: left;
  padding-right: 15px;
}

/* line 14, ../sass/components/_details.scss */
.detail-text {
  margin-top: 0px;
  padding-top: 150px;
  padding-right: 15px;
}

/* line 1, ../sass/components/_hero.scss */
.hero {
  height: 400px;
  background: #9b59c6;
  margin-bottom: 0px;
}

/* line 7, ../sass/components/_hero.scss */
.hero-image {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
