.about-details{
    margin: 10px 0px;
}


.footer-about{
    margin-top: 300px;
    background-color: #FAAFBA;
    width: 960px;
    height: 60px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}