.details{
    height: 400px;
    background: #8e44ad;
    margin-top: 0px;
}

.detail-pic{
    height: 100%;
    display:inline;
    float: left;
    padding-right: 15px;
}

.detail-text{
    margin-top: 0px;
    padding-top: 150px;
    padding-right: 15px;
}