.head-pic{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 100px;
}

.head-name{
    text-align:center;   
}

.head{
    height: 200px;
    background: #9b59b6;
}

.wrap{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
